body {
    font-family: 'Roboto Mono', monospace;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 20, 0.9)), url('https://ingresso-a.akamaihd.net/b2b/production/uploads/article/image/211/imagem-destaque-cavaleiros-do-zodiaco-elenco-live-action.jpg');
    
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    
}

.page-logo {
    width: 15%;
}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 2px 0;
}

#btnSortear {
    font-size: 1.5rem;
    height: 50px;
    width: 250px;
    margin-top: 200px;
    border-radius: 50px;
    background-color: #ffffffcc;
}

.button-jogar {
    padding: .8rem 1.5rem;
    margin: 1rem 0;
    height: 50px;
    width: 250px;
    border: none;
    font-size: 1.5rem;
    border-radius: 50px;
    background-color: #ffffffcc;
}

h2 {
    color: white;
}

#ratio-atr {
    margin-left: 80px;
}

#carta-maquina, #carta-jogador {
    width: 360px;
    height: 600px;
    overflow: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    position: relative;
    background-size: 350px 300px;
    background-repeat: no-repeat;
    background-position-x: 5px;
    background-position-y: 60px;
    border-radius: 33px;
}

#carta-maquina p {
    font-size: 1.2rem;
    margin-left: 100px;
    height: 0.1rem;
    margin-top: 0.1rem;
}

span {
    margin-top: 1.6rem;
}

.carta-imagem {
    border: 1px solid black;
    height: 100px;
    margin: 10px;
}

.carta-imagem img {
    width: 100%;
    height: 100%;
}

.carta-status {
    height: 180px;
    margin: 2rem;
    color: white;
    z-index: 2;
}

.carta-status input {
    margin: 10px 10px;
    
}

.resultado-final {
    color: white;
    font-size: 2.2rem;
    text-shadow: 0.2rem 0.2rem rgb(24, 24, 24);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px;
    
}

.--spacing {
    margin-left: 2.5rem;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.carta-subtitle {
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 37px;
    font-weight: 800;
    margin-left: 10%;
    font-size: 1.6rem;
    text-transform: uppercase;
}

#cartas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.carta-status p {
    margin-bottom: 2rem;
    
}